// FONT
$font-primary : 'Oswald',
sans-serif;
$font-secondary : 'Noto Serif',
serif;

// COLORS
$color-bg-dark : #95c2e6;
$color-bg-light : #b7e0ff;
$color-white : #ffffff;
$color-dark-heading : #dc2f02;
$color-light-heading : #76c893;

$color-secondary-light: #72efdd;
$color-secondary-dark: #52b69a;

// MARGIN
$margin-bottom-sm : 2rem;
$margin-bottom-md : 4rem;
$margin-bottom-lg : 8rem;