// FONT
$font-primary : 'Oswald',
sans-serif;
$font-secondary : 'Noto Serif',
serif;

// COLORS
$color-bg-dark : #95c2e6;
$color-bg-light : #b7e0ff;
$color-white : #ffffff;
$color-black : #000000;
$color-dark-heading : #e35935;
$color-light-heading : #76c893;

$color-secondary-light: #72efdd;
$color-secondary-dark: #52b69a;

$color-dark-2 : #364539;
$color-dark-3 : #1d3557;

$color-light-2 : #c7365f;
$color-light-3 : #d8728f;

$color-main: #656652;
$color-main-active :#c9cba3;

// MARGIN
$margin-bottom-sm : 2rem;
$margin-bottom-md : 4rem;
$margin-bottom-lg : 8rem;

// BOX-SHADOW
$box-shadow-sm : 0px .5rem .5rem .1rem rgba($color-black , .3);
$box-shadow-lg : 0px 1rem 1rem .2rem rgba($color-black , .4);