@use "../abstracts/" as *;
@use "../base/" as *;

.game-description {
    // background-color: rgb(164, 53, 53);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.description-text {
    font-size: 1.8rem;
    line-height: 1.6;
    font-family: $font-secondary;
}

.rules {

    &-box {
        list-style: none;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.6rem;
    }

    &-list {
        font-size: 1.6rem;
        line-height: 1.4;
        font-family: $font-secondary;
    }
}