@use "../abstracts/" as *;
@use "../base/" as *;

.box {

    &--new-game,
    &--dice-roll,
    &--dice-hold {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &--new-game {
        top: 15%;
    }

    &--dice-roll {
        top: 75%;
    }

    &--dice-hold {
        top: 88%;
    }
}