@use "../abstracts/" as *;
@use "../base/" as *;

.player-container {
    width: 80%;
    height: 100%;
    margin: auto;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include respond-to('xl') {
        width: 90%;
    }

    @include respond-to('md-2') {
        width: 95%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }
}

.player {
    background-color: rgba($color-main, .9);
    height: 100%;
    border-radius: 2rem;
    box-shadow: $box-shadow-lg;

    display: flex;
    flex: 50%;
    align-items: center;
    justify-content: center;
    padding: 9rem;

    @include respond-to('xl') {
        padding: 3.5rem;
    }

    @include respond-to('md-2') {
        padding: 5rem;
        justify-content: stretch;
    }

    &--0 {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        @include respond-to('md-2') {
            border-top-right-radius: 2rem;
            border-bottom-left-radius: 0;
        }
    }

    &--1 {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        @include respond-to('md-2') {
            border-bottom-left-radius: 2rem;
            border-top-right-radius: 0;
            border-bottom-right-radius: 2rem;
        }
    }

    &--active {
        background-color: rgba($color-main-active, .8);
    }
}