@use "../abstracts/" as *;
@use "../base/" as *;

.aside {
    background-image: linear-gradient(to left top, rgba($color-dark-2 , .9), rgba($color-dark-2 , .4));
    opacity: 1;
    border-radius: 1.4rem;
    padding: 1.2rem;
    align-self: center;
    padding-bottom: 1.8rem;

    &--left {
        grid-column: 1 / 2;
        grid-row: 2 / span 4;
    }

    &--right {
        grid-column: 6 / -1;
        grid-row: 2 / span 4;
    }
}