@use "../abstracts/" as *;
@use "../base/" as *;

.aside {
    background-color: #6a8770;
    opacity: 1;
    grid-row: 1 / -1;
    border-radius: 1.4rem;

    &--left {
        grid-column: 1 / 2;
    }

    &--right {
        grid-column: 6 / -1;
    }
}