@use "../abstracts/" as *;
@use "../base/" as *;

.footer {
    grid-column: 3 / span 2;
    grid-row: 6 / -1;
    opacity: 1;
    padding: 1.6rem;
    padding-top: 0rem;

    @include respond-to('xl') {
        grid-column: 1 / span 2;
    }

    @include respond-to('lg') {
        grid-column: 3 / span 2;
    }

    @include respond-to('md-2') {
        grid-column: 2 / span 3;
    }

    &-nav {
        background-color: $color-dark-3;
        padding: 1rem 1.6rem;
        border-radius: 2rem;
    }

    &-description {
        font-size: 1.8em;
        text-transform: uppercase;

        @include respond-to('xl') {
            margin-bottom: 1rem;
        }

        @include respond-to('lg') {
            margin-bottom: 2rem;
        }
    }

    &-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    &__link {
        cursor: default;
        transition: all .3s ease;

        img {
            width: 4rem;
            height: 4rem;

            @include respond-to('lg') {
                width: 3rem;
                height: 3rem;
            }

            @include respond-to('md-2') {
                width: 4rem;
                height: 4rem;
            }

            &:hover {
                cursor: pointer;
                transform: translateY(-.2rem);
            }
        }
    }
}